body {
	font-family: Helvetica, sans-serif;
}

.about-container {
	position: static;
	left: 10vh;
}

img {
	width: 900px;
	left: 0;
	top: 0;
}

.box {
	width: 40vh;
	background-color: #C1C7C9;
	position: absolute;
	right: 30vh;
	top: 30vh;
	z-index: 9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box > * {
	padding: 20px;
}

#about {
	font-size: 20px;
	padding-top: 0;
}

#header {
	z-index: 9999;
	margin-bottom:20px;}
