body {
	font-family: Helvetica, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

.images {
	width : 80vw;
	margin-left: 10vw;
	/*position: relative;*/
	/*min-height: 100vw;*/
	padding-bottom: 0;
	margin-bottom: -1%;
	/*min-height: 900px; */
	background-size: 100% 100%;
	background-position: center;
  	background-repeat: no-repeat;
}

#about-img-middle {
	background-image: url("../images/about_long_middle.jpg");
	/* Set a specific height */
}

.box {
	padding: 5vw;
}

#about {
	font-size: 2.7vw;
	background-color: rgba(255,255,255,0.5);
	padding: 40px;
	margin: 0;
	color: black;
	text-indent: 7%;
	/*text-shadow: 0 0 3px white;*/
	/*border: 4px solid rgba(0,0,0,0.4);*/
	/*font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));*/
}

.top-contain {
	position: relative;
	margin-top: 30px;
}

#about-title {
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 6.5vw;
	text-align: center;
	font-weight: bold;
  	color: white;
  	text-shadow: 0 0 10px black; 
  	width: 100%;
}

@media screen and (max-width: 500px) {
	.images {
		margin-bottom: -2%;
		width: 90vw;
		margin-left: 5vw;
	}

	#about {
		padding: 20px;
	}

	#about-title {
		font-size: 8vw;
		top: 42%;
	}
}