/*#footer*/
body {
	height: 70px;
	margin: 0;
}

.foot-container {
/* 		position: fixed;  */
	padding-top: 20px;
	left: 0; 
	bottom: 0; 
	width: 100vw;
}

.ftitle {
	float: left;
	padding-left: 20px;
	padding-bottom: 10px;
	font-family: Helvetica; 
	font-size: 2.3em; 
	font-weight: bold; 
	color: #000000;
}

.foot-socialicons-bar {
	right: 0;
	position: absolute;
	display: inline-block;
	padding-right: 10px;
}

.foot-socialicons-bar img {
  width: 30px;
}

.foot-socialicons-bar a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
	.ftitle {
		font-size: 25px;
		padding-left: 5px;
	}

	.foot-container {
		padding-top: 32px;
	}

	.foot-socialicons-bar img {
		width: 20px;s
	}
}