#header {
  height: 70px;
}

.socialicons-bar {
	float: right; 
	display: block;
	padding-right: 10px;
}

.socialicons-bar img {
  width: 30px;
}

.socialicons-bar a {
  text-decoration: none;
}

.title {
	text-align: center; 
	display: inline-block; 
	padding-top: 20px;
  z-index: 1005;
  position: absolute;
}

.title a {
	font-family: Helvetica; 
	font-size: 2.3rem; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none;
	padding: 14px 16px;
}

.title a:hover {
	background-color: #ddd;
	color: black;	
}

.nav-bar {
	display: inline-block; 
	padding-left: 20px;
	font-family: Helvetica;
	padding-top: 40px;
	padding-bottom: 10px;
  margin-left: 250px;
}

.nav-bar a {
	color: #000000; 
	font-size: 17px; 
	text-decoration: none; 
	padding: 14px 16px;
}

.nav-bar a:hover {
		background-color: #ddd;
	color: black;
	}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  top: 33px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1000;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.nav-bar .icon {
  display: none;
}


@media screen and (max-width: 1000px) {
  .nav-bar a, .dropdown a {
    display: none;
  }
  .nav-bar a.icon {
    float: right;
    display: block;
  }

  .nav-bar {
    position: absolute;
    top: -20px;
    left: calc(300px - 45.5px);
    margin: 0;
  }
}
@media screen and (max-width: 1000px) {
  .nav-bar.responsive {
  	position: absolute;
  	background-color: white;
  	display: block;
  	left:0;
  	margin-top: 45px;
  	width: 320px;
  	z-index: 1000;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .nav-bar.responsive a.icon {
    position: absolute;
    right: 0;
    top: -5px;
    /*padding-top: 20px;*/
  }
  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav-bar.responsive .dropdown {float: none;
  width: 260px;}
  .nav-bar.responsive .dropdown-content {
  	position: relative;
  	box-shadow: none;
  	top: 0;
}
  .nav-bar.responsive .dropdown a {
    display: block;
    width: 100%;
    text-align: left;
  }

  .nav-bar.responsive .dropdown-content a{
  	text-indent: 20px;
  }
}

@media screen and (max-width: 500px) {
  .title a {
    font-size: 25px;
  }

  .socialicons-bar {
    padding-right: 5px;
  }

  .socialicons-bar img {
    width: 20px;
  }

  .nav-bar {
    left: 167px;
    padding-top: 35px;
  }

  .nav-bar a.icon {
    font-size: 12px;
    padding: 10px 12px;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar.responsive {
    width: 225px;
    top: -25px;
  }
}
