body {
  font-family: Helvetica, sans-serif;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe,
.youtube-player object,
.youtube-player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}

.video {
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.vid-embed {
    width: 50vw;
    display: inline-block;
}

.vid-caption {
    width: 30vw;
    display: inline-block;
}

@media screen and (max-width: 750px) {

.video {
    padding-right: 10vw;
    padding-left: 10vw;
}

.vid-embed {
    width: 80vw;
    display: block;
}

.vid-caption {
    display: block;
}
}